<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="jumbotron">
            <br>
            <h1 class="display-5"><strong>Bem-vindo(a) ao site flores amigas!</strong></h1>
            <p class="lead">nao vendemos plantas, proporcionamos momentos!!.</p>
            <hr class="my-4">
            <p class="currentDate"></p>
            </p>         
            </p>
          </div>
        <hr>
        <div class="card">
            <div class="card-header">
                <h1>o que esta esperando para ter um momento igual a esse??</h1>
            </div>
            <img src="/imgs/mulher.jpg" class="" alt="mulher">
            </div>
        </div>
    </div>
    
<%- include ('partials/footer.ejs') %>
